.testimonials {
  padding: 8rem 2rem;
  text-align: center;
  color: var(--primary);

  .title {
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: 3rem;
  }

  .subtitle {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 4rem;
  }

  .slider {
    max-width: 50rem;
    overflow: hidden;
    margin: auto;

    input {
      display: none;
    }

    .slider-area {
      width: 200%;
      display: flex;
      transition: all ease 0.5s;

      .slider-item {
        width: 100%;

        img {
          width: 10rem;
          height: 10rem;
          border-radius: 50%;
          overflow: hidden;
          margin-bottom: 4rem;
        }

        .description {
          font-size: 2rem;
          line-height: 3.3rem;
          margin-bottom: 4rem;
        }

        .name {
          font-weight: bold;
          font-size: 2rem;
          margin-bottom: 1.5rem;
        }

        .role {
          font-size: 1.7rem;
        }
      }
    }
    .slider-nav {
      display: flex;
      justify-content: center;
      gap: 2rem;
      margin-top: 4rem;

      label {
        display: block;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        cursor: pointer;
        border: 0.2rem solid var(--primary-light);
        transition: all ease 0.5s;
      }
    }

    #slider-1:checked ~ .slider-area {
      margin-left: 0%;
    }

    #slider-2:checked ~ .slider-area {
      margin-left: -100%;
    }

    #slider-1:checked ~ .slider-nav .n1 {
      background-color: var(--foreground);
    }

    #slider-2:checked ~ .slider-nav .n2 {
      background-color: var(--foreground);
    }
  }
}
